@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Montserrat", sans-serif;
}

:root {
  --bs-body-font-family: Montserrat, sans-serif;
  --bs-font-sans-serif: Montserrat, sans-serif;  /* For sans-serif elements */
}

.container-fluid{
  margin: 0;
  padding: 0;
}

.row{
  margin: 0;
  padding: 0;
}
.food-card {
  border-radius: 12px;
  overflow: hidden;
  transition: .2s;
  background-color: red;
  width: 25%;

  &:hover {
    transform: scale(1.03);
  }

  .add-btn {
    width: 100%;
    margin-top: 10px;
  }
}

.menu-scnd-row{
  overflow: hidden;
}
.cart-prooduct-list{
  background-color: red;
  display:flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 12px;
  padding: 20px;
  height: 45%;
}

.single-cart-item{

}

